<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891669820320-97bmhqdhgbkki6crik7bgkt7bm5lbi1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891669820320-97bmhqdhgbkki6crik7bgkt7bm5lbi1c</string>
	<key>API_KEY</key>
	<string>AIzaSyBbbcfP9LKLYo_tlZReOI2VfZqrOBlcnaY</string>
	<key>GCM_SENDER_ID</key>
	<string>891669820320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatRe</string>
	<key>PROJECT_ID</key>
	<string>chat-re-a925a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-re-a925a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891669820320:ios:3fbdf289c8ef4d61b6aac5</string>
</dict>
</plist>